<div class="phone-input">
    
    <span class="pull-left">(</span>
    <input style="width:25%"  class="pull-left phoneinput1" type="tel" pattern="[0-9]*" ng-model="phoneinput1" ng-change="phoneinput1Change(phoneinput1)"
           ng-focus="focus=true;blur=false;" ng-blur="blur=true;focus=false;" ng-disabled="ngDisabled" />
    <span class="pull-left">)</span>
    <input style="width:25%"  class="pull-left phoneinput2" type="tel" pattern="[0-9]*" ng-model="phoneinput2" ng-change="phoneinput2Change(phoneinput2)" ng-focus="focus=true;blur=false;" ng-blur="blur=true;focus=false;" />
    <span class="pull-left">―</span>
    <input style="width:32%"  class="pull-left phoneinput3" type="tel" pattern="[0-9]*" ng-model="phoneinput3" ng-change="phoneinput3Change(phoneinput3)" ng-focus="focus=true;blur=false;" ng-blur="blur=true;focus=false;" />
</div>
