<div class="cec-phone-input">
    
    <span class="pull-left">(</span>
    <input style="width:25%"  class="pull-left cecphoneinput1" type="tel" pattern="[0-9]*" ng-model="cecphoneinput1" ng-change="cecphoneinput1Change(cecphoneinput1)"
           ng-focus="focus=true;blur=false;" ng-blur="blur=true;focus=false;" ng-disabled="ngDisabled" />
    <span class="pull-left">)</span>
    <input style="width:25%"  class="pull-left cecphoneinput2" type="tel" pattern="[0-9]*" ng-model="cecphoneinput2" ng-change="cecphoneinput2Change(cecphoneinput2)" ng-focus="focus=true;blur=false;" ng-blur="blur=true;focus=false;" />
    <span class="pull-left">―</span>
    <input style="width:32%"  class="pull-left cecphoneinput3" type="tel" pattern="[0-9]*" ng-model="cecphoneinput3" ng-change="cecphoneinput3Change(cecphoneinput3)" ng-focus="focus=true;blur=false;" ng-blur="blur=true;focus=false;" />
</div>
