@import '../global';
.select-mobile-mask {
    height: 35px;
    position: absolute;
    z-index: 12;
    opacity: .5;
    right: 15px;
    left: 15px;
    background-color: transparent;
}

.ui-mobile-list-animation {
    height: 100% !important;
    transition: height 5s ease-in;
    overflow: hidden;
}

.ui-mobile-list {
    width: 100%;
    height: 0%;
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    z-index: 172;
    -webkit-overflow-scrolling: touch;
    transition: height .5s ease-in;

    .mobile-dropdown-list {
        height: 100%;

        header {
            color: white;
            height: 48px;
            font-size: 13px;

            div {
                height: 100%;
                display: -ms-flex;
                display: -webkit-flex;
                display: flex;
                align-items: center;
            }
            div:last-child{
                justify-content: flex-end;
            }
        }

        .item-wraper {
            overflow: scroll;
            height: 100%;

            .item {
                height: 48px;
                font-size: 13px;
                border-bottom: 1px solid;
                display: -ms-flex;
                display: -webkit-flex;
                display: flex;
                align-items: center;
                -webkit-align-items: center;
                padding-left: 7px;
            }

            .empty-item {
                height: 75px;
            }
        }

        input {
            margin-right: 7px;
        }
    }
}