<div class="cec-ssn-input">
    <input style="width:25%" class="pull-left cecssninput1" placeholder="XXX" type="tel" pattern="[0-9]*" ng-model="cecssninput1" ng-change="cecssninput1Change(cecssninput1)"
           ng-focus="focus=true;blur=false;" ng-blur="blur=true;focus=false;" />
    <span class="pull-left">―</span>
    <input style="width:20%" class="pull-left cecssninput2" placeholder="XX" type="tel" pattern="[0-9]*" ng-model="cecssninput2" ng-change="cecssninput2Change(cecssninput2)"
           ng-focus="focus=true;blur=false;" ng-blur="blur=true;focus=false;" />
    <span class="pull-left">―</span>
    <input style="width:32%" class="pull-left cecssninput3" placeholder="XXXX" type="tel" pattern="[0-9]*" ng-model="cecssninput3" ng-change="cecssninput3Change(cecssninput3)"
           ng-focus="focus=true;blur=false;" ng-blur="blur=true;focus=false;" /> 
</div>
