<div class="ui-date-input" >
    <input class="pull-left dateinput1"  placeholder="MM" type="tel" pattern="[0-9]*" ng-model="dateinput1"
           ng-focus="focus=true;blur=false;" ng-blur="blur=true;focus=false;"
           ng-change="dateinput1Change(dateinput1)" />
    <span class="pull-left">/</span>
    <input class="pull-left dateinput2"  placeholder="DD" type="tel" pattern="[0-9]*" ng-model="dateinput2"
           ng-focus="focus=true;blur=false;" ng-blur="blur=true;focus=false;"
           ng-change="dateinput2Change(dateinput2)" />
    <span class="pull-left">/</span>
    <input class="pull-left dateinput3"  placeholder="YYYY" type="tel" pattern="[0-9]*" ng-model="dateinput3"
           ng-focus="focus=true;blur=false;" ng-blur="blur=true;focus=false;"
           ng-change="dateinput3Change(dateinput3)" />
   
</div>
