<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="js/ui-controls.js"></script>
    <script src="js/templates.js"></script>
    <script src="js/main.js"></script>
</head>

<body ng-app="app" ng-controller="demo">
    <div class="well well-sm">
        <form name="form" class="container">
            <h4 class="row">
                Date:
            </h4>
            <div class="row">
                <div class="col-md-6">
                    <div ng-show="form.$submitted  || form.Date.$touched">
                        <error-message ng-show="form.Date.$error.required" >
                            Date is required.
                        </error-message>
                        <error-message ng-show="form.Date.$error.other" >
                            {{form.Date.$error.other}}
                        </error-message>
                        <error-message ng-show="form.Date.$error.fifteenyearsvalidationMessage" >
                            fifteen years validation Message.
                        </error-message>
                        <error-message ng-show="form.Date.$error.futuredateValidation">
                            future date Validation Message - Your birthday cannot be in future.
                        </error-message>
                        <error-message ng-repeat="error in form.Date.$error.errorMessages">
                            {{error}}
                        </error-message>

                    </div>
                    <div class="col">
                        <div class="col-md-8">
                            <date-input ng-model="date.data" name="Date" checkfuturedate="{{date.ischeckfuturedate}}" fifteenyearsvalidation="{{date.isfifteenyearsvalidation}}"
                                ng-required="date.isRequired"></date-input>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well">
                        <h4>Description:</h4>
                        <div>UI controll for user date input...</div>
                        <h4>Options:</h4>
                        <ul>
                            <li>
                                <h5>Required:</h5>
                                <input type="checkbox" ng-model="date.isRequired"> Turn on/off - if field is required
                            </li>
                            <li>
                                <h5>checkfuturedate:</h5>
                                <input type="checkbox" ng-model="date.ischeckfuturedate"> Turn on/off - if date is future
                            </li>
                            <li>
                                <h5>Fifteen Years:</h5>
                                <input type="checkbox" ng-model="date.isfifteenyearsvalidation"> Turn on/off - if date is
                                more than fifteen years.
                            </li>
                    </div>
                </div>
            </div>

            <div class="row">
                <button class="btn btn-primary" name="Date" required type="submit">Submit</button>
            </div>

        </form>
    </div>
    <div class="well well-sm">
        <form name="formPhone" class="container">
            <h4 class="row">
                Phone:
            </h4>
            <div class="row">
                <div class="col-md-6">
                    <div ng-show="formPhone.$submitted  || formPhone.Phone.$touched">
                        <error-message ng-show="formPhone.Phone.$error.required" >
                            Phone is required.
                        </error-message>
                        <error-message ng-show="formPhone.Phone.$error.invalid">
                            {{formPhone.Phone.$error.other}}
                        </error-message>
                        
                    </div>
                    <div class="col">
                        <div class="col-md-8">
                            <phone-input ng-model="phone.data" name="Phone" ng-required="phone.isRequired"></phone-input>
                        </div>
                    </div>
                </div>
                 <div class="col-md-6">
                    <div class="well">
                        <h4>Description:</h4>
                        <div>UI controll for user phone input...</div>
                        <h4>Options:</h4>
                        <ul>
                            <li>
                                <h5>Required:</h5>
                                <input type="checkbox" ng-model="phone.isRequired"> Turn on/off - if field is required
                            </li>
                            
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-primary" name="Date" required type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>